@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Medium.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./Roboto-Bold.ttf');
    font-style: normal;
}

html {
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto-Bold', sans-serif;
    margin: 48px 0px;
    text-align: center;
    color: rgb(255, 255, 255);
}

h1:hover {
    cursor: pointer;
    user-select: none;
}

h2 {
    color: white;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 32px;
}

p {
    color: white;
    font-size: x-large;
    text-shadow: 2px 2px 2px rgba(28, 184, 163, 100);
    width: 400px;
    text-align: center;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 600px;
}

li {
    padding: 32px 32px;
    text-align: center;
    color: aliceblue;
}

li:hover {
    background-color: rgb(219, 128, 136);
}

li:active {
    background-color: rgb(165, 82, 82);
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #68aaaa;
    position: relative;    
}

.nav {
    box-shadow: 0px 5px 5px 0px rgba(17, 43, 41, 0.75);
    display: flex;
    justify-content: center;
    background-color: #3d8c96;
    position: sticky;
    top: 0px;
}

body {
    background-image: url(space-background.jpg);
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
    height: 100%;
}

.container {
    width: max(50%, 600px);
    height: 100%;
    background-color: rgba(104,170,170, 0.75);
}

.bubbles {
    margin-top: 64px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.boble {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 128px;
    padding-bottom: 128px;
}

.sub-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}
