@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Medium.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./Roboto-Bold.ttf');
    font-style: normal;
}

html {
    min-height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto-Bold', sans-serif;
    margin: 48px 0px;
    text-align: center;
    color: rgb(255, 255, 255);
}

h1:hover {
    cursor: pointer;
    user-select: none;
}

h2 {
    padding: 12px;
    color: white;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 32px;
    text-shadow: 2px 6px 6px rgba(28, 184, 163, 100);
}

p {
    padding: 12px;
    color: white;
    font-size: x-large;
    text-shadow: 2px 4px 4px rgba(28, 184, 163, 100);
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 600px;
}

li {
    padding: 32px 32px;
    text-align: center;
    color: aliceblue;
    cursor: pointer;
    user-select: none;
}

li:hover {
    background-color: rgb(219, 128, 136);
}

li:active {
    background-color: rgb(165, 82, 82);
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #68aaaa;
    position: relative;    
}

.nav {
    box-shadow: 0px 5px 5px 0px rgba(17, 43, 41, 0.75);
    display: flex;
    justify-content: center;
    background-color: #3d8c96;
    position: sticky;
    top: 0px;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(space-background.jpg);
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.container {
    width: max(50%, 600px);
    height: 800px;
    background-color: rgba(99, 168, 168, 0.3);
}

.food-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 200px 200px;
    gap: 24px;
}

.container > img {
    width: 250px;
    height: 200px;
    padding: 10px;
}

.bubbles {
    text-align: center;
    margin-top: 64px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.boble {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 128px;
    margin-bottom: 200px;
    width: max(25%, 400px);
}

.sub-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.boble, .sub-cont {
    background-color: rgba(99, 168, 168, 0.3);
    border-radius: 15%;
    box-shadow: 0px 5px 5px 0px rgba(17, 43, 41, 0.75);
}

form {
    color: white;
    background-color: #3d8c96;
    width: 80%;
    height: 400px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

input[type=text] {
    height: 100%;
}

input[type=submit] {
    margin-top: 10px;
}

form > label {
    margin-top: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
}